     {% load static %}
     
     <!-- footer section start -->
      <div class="footer_section layout_padding">
        <div class="container">
           <div class="footer_logo"><a href="{% url 'core:home' %}">
            Beauty Mission
            </a></div>
           <div class="contact_section_2">
              <div class="row">
                 <div class="col-sm-4">
                    <h3 class="address_text">Contact Us</h3>
                    <div class="address_bt">
                       <ul>
                          <li>
                             <a href="#">
                             <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left10">Building 111, block 55, road 11 - riffa</span>
                             </a>
                          </li>
                          <li>
                             <a href="#">
                             <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left10">00973- 33330000</span>
                             </a>
                          </li>
                          <li>
                             <a href="#">
                             <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left10">beautymission@gmail.com</span>
                             </a>
                          </li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-sm-4">
                    <div class="footer_logo_1"><a href="{% url 'core:home' %}" class="text-white">
                      Beauty Mission
                      <img src=""></a></div>
                    <p class="dummy_text">
                     Welcome to Beauty Mission! We're not just a salon – we're a place where you can make yourself look and feel great.
                    </p>
                 </div>
                 <div class="col-sm-4">
                    <div class="main">
                       <h3 class="address_text">Our Services</h3>
                       <ul>
                        <li><a href="/#hair" class="text-white">Hair</a></li>
                        <li><a href="/#nails" class="text-white">Nails</a></li>
                      </ul>
                    </div>
                 </div>
              </div>
           </div>
           <div class="social_icon">
              <ul>
                 <li>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                 </li>
                 <li>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                 </li>
                 <li>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                 </li>
                 <li>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                 </li>
              </ul>
           </div>
        </div>
     </div>
     <!-- footer section end -->
     <!-- copyright section start -->
     <div class="copyright_section">
        <div class="container">
           <p class="copyright_text">2024 All Rights Reserved | <a href="{% url 'core:home' %}">Beauty Mission</a></p>
        </div>
     </div>
     <!-- copyright section end -->